/* ------------------------------------------------------------------------------------------------------------------ */

:root {
	--layout-bg-color-light: #f0f0f0;
	--layout-bg-color-dark: #0d1117;
	--layout-bg-color: var(--layout-bg-color-light);

	--card-bg-color-light: #ffffff;
	--card-bg-hover-color-light: #f6f5f5;
	--card-bg-color-dark: #151b23;
	--card-bg-hover-color-dark: #262c36;

	--card-bg-color: var(--card-bg-color-light);
	--card-bg-hover-color: var(--card-bg-hover-color-light);

	--border-color-light: #cbcbcb;
	--border-color-dark: #3d444d;
	--border-color: var(--border-color-light);

	--app-bg-color-light: #ffffff;
	--app-bg-color-dark: #010409;
	--app-bg-color: var(--app-bg-color-light);

	--text-color-light: #000000;
	--text-color-dark: #ffffff;
	--text-color: var(--text-color-light);

	--radius: 8px;
	--spacing: 8px;

	--text-muted: #6c757d;

	--shadow-color-dark: rgba(0, 0, 0, 0.5);
	--shadow-color-light: rgba(0, 0, 0, 0.05);
	--shadow-color: var(--shadow-color-light);
}

/* ------------------------------------------------------------------------------------------------------------------ */

/* Not recommended if UI libs does not do the same */
/*@media (prefers-color-scheme: dark) {*/
/*	:root {*/
/*		--layout-bg-color: var(--layout-bg-color-dark);*/
/*		--card-bg-color: var(--card-bg-color-dark);*/
/*		--card-bg-hover-color: var(--card-bg-hover-color-dark);*/
/*		--border-color: var(--border-color-dark);*/
/*		--app-bg-color: var(--app-bg-color-dark);*/
/*	}*/
/*}*/

.color-scheme-dark {
	--layout-bg-color: var(--layout-bg-color-dark);
	--card-bg-color: var(--card-bg-color-dark);
	--card-bg-hover-color: var(--card-bg-hover-color-dark);
	--border-color: var(--border-color-dark);
	--app-bg-color: var(--app-bg-color-dark);
	--shadow-color: var(--shadow-color-dark);
	--text-color: var(--text-color-dark);
}

.color-scheme-light {
	--layout-bg-color: var(--layout-bg-color-light);
	--card-bg-color: var(--card-bg-color-light);
	--card-bg-hover-color: var(--card-bg-hover-color-light);
	--border-color: var(--border-color-light);
	--app-bg-color: var(--app-bg-color-light);
	--shadow-color: var(--shadow-color-light);
	--text-color: var(--text-color-light);
}

/* ------------------------------------------------------------------------------------------------------------------ */

@media (max-width: 576px) {
	.hide-xs-down {
		display: none !important;
	}
}
@media (min-width: 577px) {
	.hide-xs-up {
		display: none !important;
	}
}
@media (max-width: 768px) {
	.hide-sm-down {
		display: none !important;
	}
}
@media (min-width: 769px) {
	.hide-sm-up {
		display: none !important;
	}
}
@media (max-width: 990px) {
	.hide-md-down {
		display: none !important;
	}
}
@media (min-width: 991px) {
	.hide-md-up {
		display: none !important;
	}
}
@media (max-width: 1200px) {
	.hide-lg-down {
		display: none !important;
	}
}
@media (min-width: 1201px) {
	.hide-lg-up {
		display: none !important;
	}
}
@media (max-width: 1408px) {
	.hide-xl-down {
		display: none !important;
	}
}
@media (min-width: 1409px) {
	.hide-xl-up {
		display: none !important;
	}
}

/* ------------------------------------------------------------------------------------------------------------------ */

html {
	line-height: 1.15;
}

body {
	margin: 0;
	background-color: var(--app-bg-color);
}

/* ------------------------------------------------------------------------------------------------------------------ */

.fx.brd {
	border-color: var(--border-color);
	border-style: solid;
	border-width: 1px;
}

.fx.rad {
	border-radius: var(--radius);
}

.fx.shd-1 {
	box-shadow:
		0 1px 3px var(--shadow-color),
		0 1px 2px var(--shadow-color);
}
.fx.shd-2 {
	box-shadow:
		0 4px 6px var(--shadow-color),
		0 1px 3px var(--shadow-color),
		inset 0 -1px 4px rgba(255, 255, 255, 0.1);
}
.fx.shd-3 {
	box-shadow:
		0 10px 15px var(--shadow-color),
		0 4px 6px var(--shadow-color),
		inset 0 1px 3px var(--shadow-color),
		inset 0 -1px 4px rgba(255, 255, 255, 0.1);
}

.fx.ovf {
	overflow: auto;
	scrollbar-color: var(--text-muted) transparent;
	scrollbar-width: thin;
}

/* ------------------------------------------------------------------------------------------------------------------ */

.fx.p1 {
	padding: var(--spacing);
}

.fx.p2 {
	padding: calc(var(--spacing) * 2);
}

.fx.p3 {
	padding: calc(var(--spacing) * 3);
}

.fx.p4 {
	padding: calc(var(--spacing) * 4);
}

.fx.p1h {
	padding-left: var(--spacing);
	padding-right: var(--spacing);
}

.fx.p2h {
	padding-left: calc(var(--spacing) * 2);
	padding-right: calc(var(--spacing) * 2);
}

.fx.p3h {
	padding-left: calc(var(--spacing) * 3);
	padding-right: calc(var(--spacing) * 3);
}

/* ------------------------------------------------------------------------------------------------------------------ */

.fx.g1 {
	gap: var(--spacing);
}

.fx.g2 {
	gap: calc(var(--spacing) * 2);
}

.fx.g3 {
	gap: calc(var(--spacing) * 3);
}

.fx.g4 {
	gap: calc(var(--spacing) * 4);
}

/* ------------------------------------------------------------------------------------------------------------------ */

.fx {
	display: flex;
	flex-direction: row;
}

.fx.card {
	background-color: var(--card-bg-color);
}

.fx.bg {
	background-color: var(--layout-bg-color);
}

.fx.fl {
	flex: 1;
	width: 100%;
	height: 100%;
}

.fx.wfl {
	width: 100%;
}

.fx.hfl {
	height: 100%;
}

.fx.col {
	display: flex;
	flex-direction: column;
}

.fx.layout {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
}

.fx.cx {
	align-items: center;
}

.fx.cy {
	justify-content: center;
}

.fx.clk {
	cursor: pointer;
}

.fx.clk.card:hover {
	background-color: var(--card-bg-hover-color);
}

/* ------------------------------------------------------------------------------------------------------------------ */

@media (max-width: 990px) {
	.grid-md-2 {
		grid-template-columns: 1fr !important;
	}
}
